<strong>Olá, {{courier}}</strong>
<p>Existe uma nova encomenda para você</p>
<p>
  <strong>Endereço: </strong> {{logradouro}} <br/>
  <strong>CEP: </strong> {{cep}} <br/>
  <strong>Cidade: </strong> {{cidade}} <br/>
</p>
